

<mat-grid-list style="margin: 10px auto; width: 90%;"  cols="3" rowHeight="2:1"   gutterSize="10px">
  <mat-grid-tile class="matgridtile" colspan="3">1</mat-grid-tile>
  <mat-grid-tile class="matgridtile" >2</mat-grid-tile>
  <mat-grid-tile class="matgridtile" colspan="2" rowspan="2">3
  </mat-grid-tile>
  <mat-grid-tile   rowspan="2">  </mat-grid-tile>
  <mat-grid-tile  class="matgridtile" colspan="2"> 5  </mat-grid-tile>
  <mat-grid-tile >  </mat-grid-tile>
  <mat-grid-tile  class="matgridtile" colspan="2" rowspan="3"> 7  </mat-grid-tile>
  <mat-grid-tile rowspan="3">   </mat-grid-tile>
  <mat-grid-tile class="matgridtile" colspan="2">  9  </mat-grid-tile>
</mat-grid-list>
