
<mat-grid-list cols="3" gutterSize="10px" rowHeight="2:1" style="margin: 10px auto; width: 90%;">
  <mat-grid-tile class="imgBack" colspan="3">
    <div style="position:absolute; left: 10px; top: 10px">
      <h1>Element : {{this.element}}</h1>
      <h3>Module : {{this.module}}</h3>
      <h3>Professeur : {{this.prof}}</h3>

    </div>
  </mat-grid-tile>
  <mat-grid-tile class="matgridtile">
    <mat-grid-tile-header style="background-color: transparent;border-bottom: 1px solid grey;"> <span
      style="color: black">

Devoir non termine
    </span>

    </mat-grid-tile-header>

    <mat-list role="list" style="position:absolute; left: 10px; top: 70px;width: 100%; margin-right: 10px;">
      <mat-list-item  *ngFor="let devoir of upcoming_devoirs" routerLink="/devoirs/addDevoir/{{devoir.id}}" role="listitem">{{devoir.titre}} : expire dans
        {{devoir.time.d}} jours
        {{devoir.time.h}} heures
        {{devoir.time.m}} minutes
      </mat-list-item>
    </mat-list>

  </mat-grid-tile>
  <mat-grid-tile *ngFor="let ele of rows" class="matgridtile" colspan="2" rowspan="1">
    <mat-grid-tile class="matgridtile "></mat-grid-tile>
    <mat-grid-tile-header  style="background-color: transparent;border-bottom: 1px solid grey;"> <span
      style="color: black">
      <div style="display: flex">

        <div style="margin-right: 10px">
           <button mat-mini-fab>
          <mat-icon>assignment</mat-icon>
        </button>
        </div>
        <div>
          {{ele.titre}}<br>
          {{ele.datePublication | date: 'dd/MM/yyyy'}}
        </div>
      </div>

    </span>
    </mat-grid-tile-header>

    <div style="position:absolute; top: 70px; left: 10px;">
      <span class="threeDots"> {{ele.contenu}}</span>
      <!--      {{ele | json}}-->
    </div>
    <mat-grid-tile-footer style="background-color: transparent; border-top: 1px solid grey;">
      <button mat-raised-button>
        <span style="margin: 10px"> {{ele.pieces_jointes}}</span>
      </button>
    </mat-grid-tile-footer>
  </mat-grid-tile>


</mat-grid-list>

