<script src="../../elementmodule.module.ts"></script>
{{dataSource$|json}}


<div  style="margin: 0px 20px 0px 20px;">
  <span>{{dataSource$|json}}</span>

  <mat-card routerLink="">
<!--    TODO Add a routerlink for adding a post-->
<!--    <mat-card-title>{{em.designation}} </mat-card-title>-->
<!--    <mat-card-subtitle>-->
<!--      {{em.designation}}-->
<!--      &lt;!&ndash;            /element-module/{{em.id}}&ndash;&gt;-->
<!--    </mat-card-subtitle>-->
<!--    <mat-card-content>-->

<!--      <mat-divider></mat-divider>-->
<!--      <mat-list role="list">-->
<!--        <mat-list-item role="listitem"> {{em.coeficient}}  du  <strong> Module :<br></strong>-->
<!--          <div class="num">-->
<!--            {{em.module.designation}}-->
<!--          </div>-->
<!--        </mat-list-item>-->
<!--        <mat-list-item role="listitem"><strong>Professeurs :<br></strong>-->
<!--          <div class="num"> {{em.professeur.nom}} {{em.professeur.prenom}}</div>-->
<!--        </mat-list-item>-->
<!--      </mat-list>-->
<!--    </mat-card-content>-->


  </mat-card>


  <!--  <mat-paginator (page)="changePage($event)" [length]="nombre_pages" [pageIndex]="page_index"-->
  <!--                 [pageSizeOptions]="[2, 10, 25, 100]" [pageSize]="page_size"-->
  <!--                 class="full-width">-->
  <!--  </mat-paginator>-->

</div>



